/**
export const ZFB03 = fontFace({ src: 'url("/fonts/04B/04B_03__.ttf")', fontDisplay: 'swap' });
export const ZFB03B = fontFace({ src: 'url("/fonts/04B/04B_03B_.ttf")', fontDisplay: 'swap' });
export const ZFB08 = fontFace({ src: 'url("/fonts/04B/04B_08__.ttf")', fontDisplay: 'swap' });
export const ZFB09 = fontFace({ src: 'url("/fonts/04B/04B_09__.ttf")', fontDisplay: 'swap' });
export const ZFB11 = fontFace({ src: 'url("/fonts/04B/04B_11__.ttf")', fontDisplay: 'swap' });
export const ZFB19 = fontFace({ src: 'url("/fonts/04B/04B_19__.ttf")', fontDisplay: 'swap' });
export const ZFB20 = fontFace({ src: 'url("/fonts/04B/04B_20__.ttf")', fontDisplay: 'swap' });
export const ZFB21 = fontFace({ src: 'url("/fonts/04B/04B_21__.ttf")', fontDisplay: 'swap' });
export const ZFB24 = fontFace({ src: 'url("/fonts/04B/04B_24__.ttf")', fontDisplay: 'swap' });
export const ZFB25 = fontFace({ src: 'url("/fonts/04B/04B_25__.ttf")', fontDisplay: 'swap' });
export const ZFB30 = fontFace({ src: 'url("/fonts/04B/04B_30__.ttf")', fontDisplay: 'swap' });
export const ZFB31 = fontFace({ src: 'url("/fonts/04B/04B_31__.ttf")', fontDisplay: 'swap' });
export const Terminus = fontFace({ src: 'url("/fonts/terminus/TerminusTTF-4.49.3.ttf")', fontDisplay: 'swap' });
export const k8x12 = fontFace({ src: 'url("/fonts/k8x12/k8x12.ttf")', sizeAdjust: '75%', fontDisplay: 'swap' });
export const k8x12L = fontFace({ src: 'url("/fonts/k8x12/k8x12L.ttf")', sizeAdjust: '75%', fontDisplay: 'swap' });
export const k8x12S = fontFace({ src: 'url("/fonts/k8x12/k8x12S.ttf")', sizeAdjust: '75%', fontDisplay: 'swap' });
export const k12x8 = fontFace({ src: 'url("/fonts/k12x8/k12x8.ttf")', fontDisplay: 'swap' });
export const PM10 = fontFace([
  { src: 'url("/fonts/PixelMPlus/PixelMplus10-Regular.ttf")', fontWeight: 'normal', fontDisplay: 'swap' },
  { src: 'url("/fonts/PixelMPlus/PixelMplus10-Bold.ttf")', fontWeight: 'bold', fontDisplay: 'swap' },
]);
export const PM12 = fontFace([
  { src: 'url("/fonts/PixelMPlus/PixelMplus12-Regular.ttf")', fontWeight: 'normal', fontDisplay: 'swap' },
  { src: 'url("/fonts/PixelMPlus/PixelMplus12-Bold.ttf")', fontWeight: 'bold', fontDisplay: 'swap' },
]);
*/

/* Font face definitions in CSS format */
@font-face {
  font-family: 'ZFB03';
  src: url('/fonts/04B/04B_03__.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ZFB03B';
  src: url('/fonts/04B/04B_03B_.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ZFB08';
  src: url('/fonts/04B/04B_08__.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ZFB09';
  src: url('/fonts/04B/04B_09__.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ZFB11';
  src: url('/fonts/04B/04B_11__.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ZFB19';
  src: url('/fonts/04B/04B_19__.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ZFB20';
  src: url('/fonts/04B/04B_20__.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ZFB21';
  src: url('/fonts/04B/04B_21__.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ZFB24';
  src: url('/fonts/04B/04B_24__.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ZFB25';
  src: url('/fonts/04B/04B_25__.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ZFB30';
  src: url('/fonts/04B/04B_30__.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ZFB31';
  src: url('/fonts/04B/04B_31__.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Terminus';
  src: url('/fonts/terminus/TerminusTTF-4.49.3.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'k8x12';
  src: url('/fonts/k8x12/k8x12.ttf');
  font-display: swap;
  size-adjust: 75%;
}

@font-face {
  font-family: 'k8x12L';
  src: url('/fonts/k8x12/k8x12L.ttf');
  font-display: swap;
  size-adjust: 75%;
}

@font-face {
  font-family: 'k8x12S';
  src: url('/fonts/k8x12/k8x12S.ttf');
  font-display: swap;
  size-adjust: 75%;
}

@font-face {
  font-family: 'k12x8';
  src: url('/fonts/k12x8/k12x8.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'PM10';
  src: url('/fonts/PixelMPlus/PixelMplus10-Regular.ttf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PM10';
  src: url('/fonts/PixelMPlus/PixelMplus10-Bold.ttf');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'PM12';
  src: url('/fonts/PixelMPlus/PixelMplus12-Regular.ttf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PM12';
  src: url('/fonts/PixelMPlus/PixelMplus12-Bold.ttf');
  font-weight: bold;
  font-display: swap;
}
